@import "./index.module.scss";

.button {
    padding: 16px 48px;
    background: none;
    border-radius: 0;
    border: none;
    color: $primary;
    font-size: 24px;
    font-weight: 100;
    transition: all 200ms ease-in;

    &:hover {
        transition: all 200ms ease-in;
        color: $background;
    }
    
    &.primary {
        border: 1px solid $primary;

        &:hover {
            background: $primary;
        }
    }

    &.tertiary {
        color: $background;

        &:hover {
            color: $primary;
        }
    }
}