@import "./index.module.scss";

.details {
    height: fit-content;
    min-height: max(600px, 100vh);
    background: $background;
    color: $background_alt;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .images,
    .content {
        flex: 1;
        margin: 64px;
        min-width: 300px;
    }

    .images {
        position: relative;

        .image1, .image2, .image3 {
            width: fit-content;
            box-sizing: content-box;
            position: absolute;
            height: 100%;
            width: 100%;

            span {
                position: static;

                img {
                    object-fit: cover;
                }
            }
        }

        .image1 {
            box-shadow: 18px -24px 0 0 $tertiary;
            right: 0;
            z-index: 3;
            max-height: 14vw;
            max-width: 17vw;
        }

        .image2 {
            box-shadow: -18px -24px 0 0 $tertiary;
            top: calc(50% - 10vw);
            z-index: 2;
            height: 20vw;
            width: 27vw;
        }

        .image3 {
            box-shadow: 24px 18px 0 0 $tertiary;
            bottom: 0;
            right: 0;
            z-index: 1;
            height: 18vw;
            width: 25vw;
        }
    }

    .content {
        margin: auto 64px;
        font-weight: 100;

        h2 {
            margin-bottom: 0;
        }

        blockquote {
            margin: 0;
            color: $primary;
            font-weight: bolder;
            font-size: 24px;
        }

        .cta {
            display: flex;
            justify-content: center;
            margin: 32px 0;
        }
    }
}