@import "./index.module.scss";

.footer {
    background: $secondary;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding: 16px 24px;
    align-items: center;
    justify-content: space-between;

    p {
        text-align: right;
        margin: 0;
        font-size: 1.5vw;
        font-weight: 200;

        a {
            font-weight: bolder;
            text-decoration: underline;
        }
    }

    .logo {
        height: inherit;
        width: 200px;
        box-sizing: border-box;
        position: relative;

        span img {
            object-fit: contain;
        }
    }

    .button {
        font-size: 24px;
    }
}
