@import "./index.module.scss";

.hero {
    background: url("../public/img/hero.jpg");
    height: 100vh;
    color: $primary;
    font-weight: 400;
    text-align: center;

    .content {
        background: $background;
        height: 50vh;
        width: 70vw;
        border-radius: 64px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        line-height: 1;

        h1, h2, h6 {
            font-weight: 400;
            margin: 0 auto;
        }
        
        h1, h2 {
            font-family: Continuo, 'Times New Roman', serif;
        }
    
        h1 {
            font-size: 10vw;
            width: fit-content;
        }
    
        h2 {
            display: flex;
            justify-content: space-between;
            font-size: 3.3vw;
            margin: 0 7vw;
        }
    
        h6 {
            color: $background_alt;
            font-size: 1.6vw;
            font-weight: 100;
        }

        .cta {
            width: fit-content;
            margin: 32px auto 0;
        }
    }
}