@import "./index.module.scss";

.hero {
    background: $background;
    height: 100vh;
    color: $primary;
    font-weight: 400;
    text-align: center;

    .burst {
        height: calc(100% - 75px);
        width: 100%;
        
        svg {
            background: radial-gradient(ellipse at center, #CE5937 0%, transparent 70%);
            width: 72vmin;
            height: 72vmin;
            position: absolute;
            top: calc(50% - 36vmin);
            left: calc(50% - 36vmin);
            fill: $secondary;
            animation: spin 60s linear infinite;
        }

        @keyframes spin { 
            100% { 
                transform:rotate(360deg); 
            } 
        }
    }

    .content {
        background: $background;
        height: fit-content;
        width: fit-content;
        padding: 24px;
        border-radius: 64px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        line-height: 1;

        h1, h2, h6 {
            font-weight: 400;
            margin: 0 auto;
        }
        
        h1, h2 {
            font-family: Continuo, 'Times New Roman', serif;
        }
    
        h1 {
            font-size: 10vw;
            width: fit-content;
        }
    
        h2 {
            display: flex;
            justify-content: space-between;
            font-size: 3.3vw;
            margin: 0 7vw;
        }
    
        h6 {
            color: $background_alt;
            font-size: 1.6vw;
            font-weight: 100;
        }

        .cta, p {
            width: fit-content;
            margin: 32px auto 0;
        }

        p {
            color: $secondary;
        }
    }
    
    .indicatorContainer {
        display: flex;
        justify-content: center;
        height: 75px;

        .indicator{
            position:relative;
            width:25px;
            height:25px;
            transform: rotate(45deg);
            
            span {
                position:absolute;
                left:0;
                top:0;
                width:100%;
                height:100%;
                box-sizing:border-box;
                border:none;
                border-bottom:3px solid #fff;
                border-right:3px solid #fff;
                animation:animate 1s linear infinite;
                &:nth-child(1){
                    top:-30px;
                    left:-30px;
                    animation-delay:0s;
                }
                &:nth-child(2){
                    top:-15px;
                    left:-15px;
                    animation-delay:0.2s;
                }
                &:nth-child(3){
                    top:0;
                    left:0;
                    animation-delay:0.4s;
                }
                &:nth-child(4){
                    top:15px;
                    left:15px;
                    animation-delay:0.6s;
                }
                &:nth-child(5){
                    top:30px;
                    left:30px;
                    animation-delay:0.8s;
                }
            }
        }

        @keyframes animate{
            0%{
                border-color:#fff;
                transform:translate(0,0);
            }
            20%{
                border-color:#fff;
                transform:translate(15px,15px);
            }
            20.1%,100%{
                border-color:#ffd64a;
            }
        }
    }
}