@import "./index.module.scss";

.schedule  {
    background: linear-gradient(270deg, $secondary  -80%, $background_alt 70%);
    padding: 64px;
    color: $background;
    box-shadow: 0px -10px 15px -7px $secondary, 0px 10px 15px -7px $secondary;
    position: relative;
    z-index: 1;
    overflow-x: hidden;

    .sectionTitle {
        margin-bottom: 0;
    }

    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .day {
            margin: 64px;

            h4 {
                font-weight: 300;
                font-size: 48px;
                margin: 0;
            }
    
            .list {
                margin: -16px 0 0;
                font-family: Lato;
                font-weight: 200;
                font-size: 24px;
                white-space: pre;

                ul {
                    list-style: none;
                    padding: 0;
                }

                span {
                    font-family: divenire-mono, monospace;
                }
            }
        }
    }

}
